Repository nv-morpheus/MRC, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nv-morpheus/srf-codeowners, @nv-morpheus/srf-codeowners-python, @nv-morpheus/srf-codeowners-cpp

.github/CODEOWNERS:

# Default Approval rule if one of the later sections does not apply
* @nv-morpheus/srf-codeowners

# Approval from Python codeowners is required for these files
/python/     @nv-morpheus/srf-codeowners-python

# Approval from C++ codeowners is required for these files
/benchmarks/ @nv-morpheus/srf-codeowners-cpp
/cmake/      @nv-morpheus/srf-codeowners-cpp
/include/    @nv-morpheus/srf-codeowners-cpp
/protos/     @nv-morpheus/srf-codeowners-cpp
/src/        @nv-morpheus/srf-codeowners-cpp
/tests/      @nv-morpheus/srf-codeowners-cpp
/tools/      @nv-morpheus/srf-codeowners-cpp

syntax
  python/srf/tests/CMakeLists.txt
Owners: @nv-morpheus/srf-codeowners-python

Add ingress/egress gather test + set m_name on ports objects. test currently locks up
  include/srf/segment/egress_port.hpp
  include/srf/segment/ingress_port.hpp
  python/srf/_pysrf/tests/test_pipeline.cpp
Owners: @nv-morpheus/srf-codeowners-cpp, @nv-morpheus/srf-codeowners-python

Upgrading to rapids 22.06 and using libprotobuf>=3.20 (#17)
  ci/conda/environments/dev_env.yml
  ci/conda/recipes/libsrf/conda_build_config.yaml
  ci/conda/recipes/libsrf/meta.yaml
  cmake/GRPCGenerateCPP.cmake
Owners: @nv-morpheus/srf-codeowners, @nv-morpheus/srf-codeowners-cpp

Jenkinsfile brought over from Morpheus
  ci/Jenkinsfile
Owners: @nv-morpheus/srf-codeowners

WIP first pass, untested
  ci/scripts/jenkins/checks.sh
  ci/scripts/jenkins/common.sh
Owners: @nv-morpheus/srf-codeowners

Adding back in support for RAPIDS 21.10
  ci/conda/recipes/libsrf/conda_build_config.yaml
Owners: @nv-morpheus/srf-codeowners

Zipping abseil_cpp
  ci/conda/recipes/libsrf/conda_build_config.yaml
  ci/conda/recipes/libsrf/meta.yaml
Owners: @nv-morpheus/srf-codeowners

Locking to a single abseil-cpp version.
  ci/conda/recipes/libsrf/conda_build_config.yaml
Owners: @nv-morpheus/srf-codeowners

Temp disabling CCACHE
  ci/conda/recipes/libsrf/build.sh
Owners: @nv-morpheus/srf-codeowners

Forcing both abseil-cpp and libprotobuf
  ci/conda/recipes/libsrf/conda_build_config.yaml
  ci/conda/recipes/libsrf/meta.yaml
Owners: @nv-morpheus/srf-codeowners

cpp quickstart
  quickstart/CMakeLists.txt
  quickstart/README.md
  quickstart/environment_cpp.yml
  quickstart/examples/cpp/00_Quickstart/CMakeLists.txt
  quickstart/examples/cpp/00_Quickstart/quickstart.cpp
  quickstart/examples/cpp/CMakeLists.txt
  quickstart/include/sources.hpp
  quickstart/src/sources.cpp
Owners: @nv-morpheus/srf-codeowners

updating quickstart link
  README.md
Owners: @nv-morpheus/srf-codeowners

update case
  quickstart/README.md
Owners: @nv-morpheus/srf-codeowners

update from standalone quickstart to nested within srf
  quickstart/README.md
Owners: @nv-morpheus/srf-codeowners

copyright year correction
  quickstart/examples/cpp/00_Quickstart/CMakeLists.txt
  quickstart/examples/cpp/00_Quickstart/quickstart.cpp
  quickstart/examples/cpp/CMakeLists.txt
  quickstart/src/sources.cpp
Owners: @nv-morpheus/srf-codeowners

newline at eof
  quickstart/examples/cpp/CMakeLists.txt
Owners: @nv-morpheus/srf-codeowners

copyright year
  quickstart/include/sources.hpp
Owners: @nv-morpheus/srf-codeowners

project version to match srf target
  quickstart/CMakeLists.txt
Owners: @nv-morpheus/srf-codeowners

update to use IntSource from our extension library
  quickstart/examples/cpp/00_Quickstart/quickstart.cpp
  quickstart/include/sources.hpp
  quickstart/src/sources.cpp
Owners: @nv-morpheus/srf-codeowners

Trying to add cudf to see what the difference in pinning is
  ci/conda/recipes/libsrf/conda_build_config.yaml
  ci/conda/recipes/libsrf/meta.yaml
Owners: @nv-morpheus/srf-codeowners

Adding cudf to libsrf to test
  ci/conda/recipes/libsrf/meta.yaml
Owners: @nv-morpheus/srf-codeowners

Using glog 0.6
  ci/conda/recipes/libsrf/conda_build_config.yaml
Owners: @nv-morpheus/srf-codeowners

Fixing zip
  ci/conda/recipes/libsrf/conda_build_config.yaml
Owners: @nv-morpheus/srf-codeowners

Removing cudf from the build
  ci/conda/recipes/libsrf/build.sh
  ci/conda/recipes/libsrf/meta.yaml
Owners: @nv-morpheus/srf-codeowners

Adding simple python example to match
  quickstart/README.md
  quickstart/examples/python/00_SimplePipeline/README.md
  quickstart/examples/python/00_SimplePipeline/run.py
Owners: @nv-morpheus/srf-codeowners

WIP: not working
  ci/scripts/jenkins/build.sh
  ci/scripts/jenkins/docs.sh
  ci/scripts/jenkins/test.sh
Owners: @nv-morpheus/srf-codeowners

Adding comments for why specific versions are needed.
  ci/conda/recipes/libsrf/conda_build_config.yaml
Owners: @nv-morpheus/srf-codeowners

Update to address use of protected member variables
  include/srf/segment/egress_port.hpp
  include/srf/segment/ingress_port.hpp
  include/srf/segment/object.hpp
  include/srf/segment/runnable.hpp
Owners: @nv-morpheus/srf-codeowners-cpp

Add Support for RAPIDS 21.10 (#21)
  ci/conda/recipes/libsrf/build.sh
  ci/conda/recipes/libsrf/conda_build_config.yaml
  ci/conda/recipes/libsrf/meta.yaml
Owners: @nv-morpheus/srf-codeowners

Pinning abseil-cpp again
  ci/conda/recipes/libsrf/conda_build_config.yaml
Owners: @nv-morpheus/srf-codeowners

Missed zip_keys
  ci/conda/recipes/libsrf/conda_build_config.yaml
Owners: @nv-morpheus/srf-codeowners

Updating rapids version
  CMakeLists.txt
  ci/conda/environments/dev_env_nogcc.yml
Owners: @nv-morpheus/srf-codeowners

WIP
  ci/Jenkinsfile
  ci/conda/environments/ci_env.yml
  ci/scripts/jenkins/build.sh
  ci/scripts/jenkins/common.sh
Owners: @nv-morpheus/srf-codeowners

Forcing a single version of abseil-cpp
  ci/conda/recipes/libsrf/conda_build_config.yaml
Owners: @nv-morpheus/srf-codeowners

cpp updates
  docs/quickstart/README.md
  docs/quickstart/cpp/00_SimplePipeline/CMakeLists.txt
  docs/quickstart/cpp/00_SimplePipeline/simple_pipeline.cpp
  docs/quickstart/cpp/01_libsrf_quickstart/CMakeLists.txt
  docs/quickstart/cpp/01_libsrf_quickstart/include/quickstart.hpp
  docs/quickstart/cpp/01_libsrf_quickstart/src/quickstart.cpp
  docs/quickstart/cpp/02_PipelineWithLibrary/CMakeLists.txt
  docs/quickstart/cpp/02_PipelineWithLibrary/pipeline_with_library.cpp
  docs/quickstart/cpp/CMakeLists.txt
  docs/quickstart/cpp/environment_cpp.yml
  docs/quickstart/python/00_SimplePipeline/README.md
  docs/quickstart/python/00_SimplePipeline/run.py
  quickstart/examples/cpp/00_Quickstart/quickstart.cpp
Owners: @nv-morpheus/srf-codeowners

Debugging building with cudf as a direct dependency
  ci/conda/recipes/libsrf/conda_build_config.yaml
  ci/conda/recipes/libsrf/meta.yaml
Owners: @nv-morpheus/srf-codeowners

Removing glog CMAKE variable
  ci/conda/recipes/libsrf/build.sh
Owners: @nv-morpheus/srf-codeowners

Using abseil 202103 grpc 1.45 glog 0.6
  ci/conda/recipes/libsrf/conda_build_config.yaml
Owners: @nv-morpheus/srf-codeowners

Another try
  ci/conda/recipes/libsrf/conda_build_config.yaml
Owners: @nv-morpheus/srf-codeowners

Another attempt
  ci/conda/recipes/libsrf/conda_build_config.yaml
Owners: @nv-morpheus/srf-codeowners
